@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Poppins;
  scroll-behavior: smooth;
}

:root {
  /* COLORES */
  --color-1: #ffffff;
  --color-2: #60d528;
  --color-3: #000000;

  /* BACKGROUND */
  --backgroundColor-1: #ffffff;
  --backgroundColor-2: #60d528;
  --backgroundColor-3: #000000;
  --backgroundColor-4: #151515b8;
  --backgroundColor-5: #1c1c1c;

  /* PADDING */
  --padding-xs: 5px;
  --padding-s: 10px;
  --padding-m: 20px;
  --padding-l: 30px;
  --padding-xl: 100px;

  /* GAP */
  --gap-s: 10px;
  --gap-m: 20px;
  --gap-l: 30px;

  /* MARGIN */
  --margin-s: 10px;
  --margin-m: 20px;
  --margin-l: 30px;
  --margin-bottom: 50px;
  --margin-xl: 130px;
}

a {
  cursor: pointer;
}
